.participants {
    padding-top: 30px;
}

.order-form {
    padding-top: 60px;
}

.new-orders {
    padding-top: 50px;
}

.participants-label {
    font-size: 16px;
    line-height: 42.8571429px;
}

.participants-counter {
    font-size: 30px;
    line-height: 42.8571429px;
}

.new-orders-caption {
    padding-bottom: 25px;
    font-size: 48px;
}

.all-orders-button {
    display: inline-block;
    border-radius: 25px;
    width: 300px;
 }

 .reviews {
     padding-top: 90px;
 }

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

#review-carousel .carousel-control {
    width: 4%;
}

#review-carousel .carousel-control .glyphicon-chevron-right {
    right: 80px;
}

#review-carousel .carousel-control .glyphicon-chevron-left {
    left: 80px;
}

.leave-review-button {
    position: relative;
    top: 65px;
}
